$color-primary: #000;
$color-secondary: #000;
$color-tertiary: #000;

/*
$color-text:
$color-text-dark:
$color-text-light:

$color-white:
$color-black:

$gap-xs:
$gap-sm:
$gap-md:
$gap-lg:
$gap-xl:

$border-radius:

$box-shadow
$box-shadow-light
$box-shadow-dark
*/
